body{
    img{
        max-width: 100%;
    }                
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}


.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    .item{
        border-radius: 10px;
    }
}
.item:hover{
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.20);
}
.info-product{
    padding: 15px 30px;
}
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    border-top: 50px;
    transition: all .5s;
}